<!DOCTYPE html>
<html>

<head>
    <title>Tracker</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %} 
                <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My Projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %} 
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
            {% if projects|length == 0 %}
            <p>You are not assigned to any projects.</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th><a href="{% url 'show_project' %}"></a></th>
                        <th>{{ project.tasks.all|length }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>